Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval and manipulation of the data. Databases are commonly used in computer software applications and web-based systems to store and manage large amounts of data.

There are two main types of databases: SQL (relational) and NoSQL (non-relational).

SQL databases, also known as relational databases, store data in tables that have a fixed structure. The data in the tables is organized into rows and columns, and the relationships between tables are defined by primary and foreign keys. SQL databases are based on a set of standard query language (SQL) commands that are used to manipulate and retrieve data from the database. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, store data in a more flexible format that is not based on tables with fixed columns. Instead, data is stored in document, key-value, graph, or column-family format, depending on the type of NoSQL database. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data, making them a popular choice for big data and real-time web applications. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In general, SQL databases are best suited for applications that require a high degree of consistency and transactional integrity, such as financial systems or e-commerce platforms, while NoSQL databases are better suited for applications that require high scalability and performance, such as social media networks or gaming applications. However, the choice between SQL and NoSQL databases ultimately depends on the specific needs and requirements of the application being developed.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define the structure of a database, including tables, indexes, constraints, and other database objects.

CREATE: This command is used to create a new object in the database, such as a table or an index

In [ ]:
CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(50) NOT NULL,
  customer_email VARCHAR(50) UNIQUE,
  customer_phone VARCHAR(20)
);

This SQL statement creates a new table called "customers" with four columns: customer_id, customer_name, customer_email, and customer_phone. The customer_id column is defined as the primary key, while the customer_email column is defined as unique.

DROP: This command is used to remove an existing object from the database, such as a table or an index.

In [ ]:
DROP TABLE customers;

#This SQL statement removes the "customers" table from the database.

This SQL statement removes the "customers" table from the database.

In [ ]:
ALTER TABLE customers
ADD COLUMN customer_address VARCHAR(100);

#This SQL statement adds a new column called "customer_address" to the "customers" table.

TRUNCATE: This command is used to remove all data from an existing table while preserving the structure of the table.

In [ ]:
TRUNCATE TABLE customers;

#This SQL statement removes all rows from the "customers" table but leaves the table structure intact.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to manipulate data stored in a database. The three main DML commands are INSERT, UPDATE, and DELETE.

In [ ]:
INSERT INTO customers (customer_id, customer_name, customer_email, customer_phone)
VALUES (1, 'John Doe', 'johndoe@example.com', '555-1234');

This SQL statement inserts a new row into the "customers" table with the values 1, 'John Doe', 'johndoe@example.com', and '555-1234' for the columns customer_id, customer_name, customer_email, and customer_phone, respectively.

UPDATE: This command is used to modify existing data in a table in a database.

In [ ]:
UPDATE customers
SET customer_email = 'jdoe@example.com', customer_phone = '555-5678'
WHERE customer_id = 1;

This SQL statement updates the "customers" table by changing the values of the customer_email and customer_phone columns for the row where customer_id is equal to 1.

DELETE: This command is used to remove data from a table in a database.

In [ ]:
DELETE FROM customers
WHERE customer_id = 1;

This SQL statement removes the row from the "customers" table where customer_id is equal to 1.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. The main DQL command is SELECT.

SELECT is used to select one or more columns from a table in a database, and it can also filter the results based on one or more conditions. Here is an example of using SELECT to retrieve data from a table

In [ ]:
SELECT customer_name, customer_email, customer_phone
FROM customers
WHERE customer_id = 1;

This SQL statement selects the columns customer_name, customer_email, and customer_phone from the "customers" table where the value of the customer_id column is equal to 1.

This SQL statement selects the columns customer_name, customer_email, and customer_phone from the "customers" table where the value of the customer_id column is equal to 1.

In [ ]:
SELECT *
FROM customers;

#This SQL statement returns the number of rows in the "customers" table.

SELECT can also be used to perform aggregate functions on columns, such as counting, summing, or averaging

In [ ]:
SELECT COUNT(*)
FROM customers;

#This SQL statement returns the number of rows in the "customers" table.

Q5. Explain Primary Key and Foreign Key.

In database management systems, a primary key is a unique identifier for a table or relation. It is a column or group of columns that uniquely identifies each row in a table, and it is used to enforce data integrity, help maintain database consistency, and facilitate relationships between tables.

A primary key can be a single column or a combination of columns, and it cannot contain NULL values. By default, most relational database management systems automatically create a unique index on the primary key column or columns to improve query performance.

For example, in a table of customer data, a primary key might be the customer ID column. Each row in the table would have a unique value in the customer ID column, allowing the system to easily identify and retrieve specific customer records.

On the other hand, a foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish relationships between tables and ensure referential integrity, which means that values in the foreign key column must correspond to values in the primary key column of the related table.

For example, in a customer order database, the "orders" table might have a foreign key column "customer_id" that references the primary key "customer_id" column in the "customers" table. This would allow the system to link each order to the customer who placed it.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establish a connection to the database
cnx = mysql.connector.connect(user='your_username', password='your_password',
                              host='your_host', database='your_database')

# Create a cursor object to execute SQL queries
cursor = cnx.cursor()

# Execute an SQL query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch the results of the query
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

The cursor() method is used to create a cursor object, which allows you to execute SQL queries and fetch the results. The execute() method is used to execute an SQL query on the database. The query can be passed to the execute() method as a string.

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM clause: This clause specifies the table or tables from which the data will be selected.

2. WHERE clause: This clause specifies the conditions that the data must meet in order to be selected. Only rows that satisfy the conditions in the WHERE clause will be selected.

3. GROUP BY clause: This clause groups the selected rows based on one or more columns, and allows you to perform aggregate functions (like COUNT, SUM, AVG, etc.) on the groups.

4. HAVING clause: This clause allows you to filter the groups created by the GROUP BY clause based on a condition. Only groups that satisfy the condition in the HAVING clause will be returned.

5. SELECT clause: This clause specifies the columns that should be selected from the table or tables.

6. ORDER BY clause: This clause orders the selected rows based on one or more columns, either in ascending or descending order.

7. LIMIT clause: This clause limits the number of rows that are returned by the query.

It's important to note that not all of these clauses are required in every SQL query. The SELECT clause is the only required clause, and the other clauses are used to further refine and customize the results of the query.