Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular document-oriented NoSQL database that stores data in JSON-like documents with dynamic schema. It provides high scalability, high availability, and automatic sharding for managing large volumes of data.

Non-relational databases, also known as NoSQL databases, are databases that do not use the traditional relational model for storing data. They offer more flexibility than SQL databases in terms of data structure, scaling, and data consistency, and are often used for large-scale, distributed applications that require high performance and low latency.

In general, non-relational databases are preferred in scenarios where data is unstructured or semi-structured, and where data needs to be scaled horizontally across multiple servers. They are also useful for applications that require high availability, fast read/write operations, and easy data modeling.

MongoDB is particularly well-suited for scenarios where data is document-oriented and where the data schema is not fixed. It is also preferred for applications that require high availability and scalability, such as real-time analytics, content management systems, and social networking platforms. MongoDB is also used in situations where data is distributed across multiple servers or in the cloud.

In contrast, SQL databases are typically preferred in scenarios where data is structured and consistent, such as financial systems, customer relationship management (CRM) systems, and inventory management systems. SQL databases are also well-suited for applications that require complex queries and data integrity, such as e-commerce and banking applications.

Q2. State and Explain the features of MongoDB.

Document-oriented: MongoDB stores data as JSON-like documents, which makes it easy to work with for developers. Each document can have a different structure and schema, which provides more flexibility compared to traditional relational databases.

Dynamic schema: MongoDB has a flexible data model that allows for changes to the data structure without requiring a schema update. This makes it easier to manage evolving data requirements and reduces the need for downtime.

Scalability: MongoDB offers automatic sharding, which allows for horizontal scaling of data across multiple servers. This makes it possible to handle large volumes of data and high traffic applications.

High availability: MongoDB provides built-in support for replication and failover, which ensures that data is always available even if a server fails. This makes it suitable for mission-critical applications that require 24/7 uptime.

Rich query language: MongoDB supports a powerful query language that allows for complex queries and aggregation operations. It also provides support for indexing, which helps to optimize query performance.

Flexible data modeling: MongoDB allows for embedded documents and arrays, which makes it easy to model complex relationships between data objects. This makes it suitable for applications with varied data models.

Fast write operations: MongoDB is optimized for fast write operations, which makes it suitable for high-performance applications that require fast data ingestion.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [7]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.0 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 37.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [35]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://niyajansari61:pwskills@cluster0.c5mz2fo.mongodb.net/?retryWrites=true&w=majority")
db = client.test

# create a new database called 'mydatabase'
db = client["mydatabase"]

# create a new collection called 'personal' within the 'mydatabase' database
mycol = db["ringa"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [36]:
data = {'apple': 'red',
        'papya' : 'yellow',
        'guava': 'green'}

mycol.insert_one(data)

In [44]:
datav = [
         {'spinach' : 'green'},
         {'brinjal' : 'purple'}, 
         {'radish': 'white'},
         {'tomato' : 'red'},
         {'potato' : 'yellow'},
        ]
mycol.insert_many(datav)

mycol.find_one()

{'_id': ObjectId('63f320387e2dff67342f52c9'),
 'apple': 'red',
 'papya': 'yellow',
 'guava': 'green'}

In [45]:
for i in mycol.find():
    print(i)

{'_id': ObjectId('63f320387e2dff67342f52c9'), 'apple': 'red', 'papya': 'yellow', 'guava': 'green'}
{'_id': ObjectId('63f322577e2dff67342f52ca'), 'spinach': 'green'}
{'_id': ObjectId('63f322577e2dff67342f52cb'), 'brinjal': 'purple'}
{'_id': ObjectId('63f322577e2dff67342f52cc'), 'radish': 'white'}
{'_id': ObjectId('63f322577e2dff67342f52cd'), 'tomato': 'red'}
{'_id': ObjectId('63f322577e2dff67342f52ce'), 'potato': 'yellow'}
{'_id': ObjectId('63f322727e2dff67342f52cf'), 'spinach': 'green'}
{'_id': ObjectId('63f322727e2dff67342f52d0'), 'brinjal': 'purple'}
{'_id': ObjectId('63f322727e2dff67342f52d1'), 'radish': 'white'}
{'_id': ObjectId('63f322727e2dff67342f52d2'), 'tomato': 'red'}
{'_id': ObjectId('63f322727e2dff67342f52d3'), 'potato': 'yellow'}
{'_id': ObjectId('63f322b97e2dff67342f52d4'), 'spinach': 'green'}
{'_id': ObjectId('63f322b97e2dff67342f52d5'), 'brinjal': 'purple'}
{'_id': ObjectId('63f322b97e2dff67342f52d6'), 'radish': 'white'}
{'_id': ObjectId('63f322b97e2dff67342f52d7'), 'tomato': 'red'}
{'_id': ObjectId('63f322b97e2dff67342f52d8'), 'potato': 'yellow'}
{'_id': ObjectId('63f322e87e2dff67342f52d9'), 'spinach': 'green'}
{'_id': ObjectId('63f322e87e2dff67342f52da'), 'brinjal': 'purple'}
{'_id': ObjectId('63f322e87e2dff67342f52db'), 'radish': 'white'}
{'_id': ObjectId('63f322e87e2dff67342f52dc'), 'tomato': 'red'}
{'_id': ObjectId('63f322e87e2dff67342f52dd'), 'potato': 'yellow'}
{'_id': ObjectId('63f323337e2dff67342f52de'), 'spinach': 'green'}
{'_id': ObjectId('63f323337e2dff67342f52df'), 'brinjal': 'purple'}
{'_id': ObjectId('63f323337e2dff67342f52e0'), 'radish': 'white'}
{'_id': ObjectId('63f323337e2dff67342f52e1'), 'tomato': 'red'}
{'_id': ObjectId('63f323337e2dff67342f52e2'), 'potato': 'yellow'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method is used to query the MongoDB database to retrieve data. It takes an optional parameter to specify the search criteria, which is typically a document containing one or more key-value pairs. The method returns a cursor object that can be used to iterate over the results.

In [46]:
# ref to perivous Q sol

x = mycol.find(data)
for x in x :
    print(x)

{'_id': ObjectId('63f320387e2dff67342f52c9'), 'apple': 'red', 'papya': 'yellow', 'guava': 'green'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method is used to sort the results of a query in MongoDB. It takes one or more key-value pairs as arguments to specify the fields to sort on, as well as the order of the sort (ascending or descending).

In [47]:
y  = mycol.find(data).sort('age')
for y in y :
    print(y)

{'_id': ObjectId('63f320387e2dff67342f52c9'), 'apple': 'red', 'papya': 'yellow', 'guava': 'green'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() method: This method is used to delete a single document from a collection that matches a given filter. If multiple documents match the filter, only the first one will be deleted.

In [ ]:
mycol.delete_one({'apple':'red'})

delete_many() method: This method is used to delete all documents from a collection that match a given filter.

In [ ]:
mycol.delete_many({'age' : {'$gte' : 18}})

drop() method: This method is used to remove an entire collection from a database.

In [ ]:
mycol.drop()