Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [13]:
import pandas as pd

data = {'int' :[4, 8, 15, 16, 23, 42 ]}
df = pd.Series(data)
print(df)

int    [4, 8, 15, 16, 23, 42]
dtype: object

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [15]:
n_list = [1,2,3,5,6,9,8,7,1,5]

nl = pd.Series(n_list)
print(nl)

0    1
1    2
2    3
3    5
4    6
5    9
6    8
7    7
8    1
9    5
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [17]:
data1 = {'name': ['Alice', 'Bob', 'Claire'], 'age': [25, 30, 27], 'Sex' : ['female', 'male', 'female']}

lf = pd.DataFrame(data1)

print(lf)

     name  age     Sex
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns, similar to a spreadsheet or a SQL table. It is a primary data structure in Pandas and is used extensively for data analysis and manipulation tasks.

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It is essentially a single column of data, with an index that can be used to access individual elements.

In [19]:
import pandas as pd

# create a list of dictionaries to represent data for a small dataset
data = [{'name': 'niyaj', 'age': 25, 'city': 'New York'},
        {'name': 'muskan', 'age': 20, 'city': 'San Francisco'},
        {'name': 'rayan', 'age': 5, 'city': 'Seattle'}]

# create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# create a Series from the 'age' column of the DataFrame
age_series = df['age']

# print the DataFrame and the Series
print('DataFrame:\n', df)
print('\nAge Series:\n', age_series)

DataFrame:
      name  age           city
0   niyaj   25       New York
1  muskan   20  San Francisco
2   rayan    5        Seattle

Age Series:
 0    25
1    20
2     5
Name: age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions that you can use to manipulate data in a DataFrame. Here are some common functions:

1. head() and tail(): These functions are used to view the first or last few rows of a DataFrame. For example, df.head(10) will display the first 10 rows of the DataFrame df.

2. describe(): This function is used to generate summary statistics for the numerical columns in a DataFrame. For example, df.describe() will display statistics such as mean, standard deviation, minimum, and maximum values for all numerical columns in the DataFrame df.

3. drop(): This function is used to remove one or more columns or rows from a DataFrame. For example, df.drop(['column1', 'column2'], axis=1) will drop columns named 'column1' and 'column2' from the DataFrame df.

4. fillna(): This function is used to fill missing values in a DataFrame with a specified value or method. For example, df.fillna(0) will replace all missing values in the DataFrame df with 0.

5. groupby(): This function is used to group rows in a DataFrame based on one or more columns and perform aggregate functions on the resulting groups. For example, df.groupby('column1').mean() will group the rows in the DataFrame df by the values in 'column1' and calculate the mean of all numerical columns for each group.

6. sort_values(): This function is used to sort the rows of a DataFrame based on one or more columns. For example, df.sort_values('column1', ascending=False) will sort the rows of the DataFrame df in descending order based on the values in 'column1'.

you might use one of these functions is :
1. when you are working with a large dataset and want to quickly view the first few rows using head(), or when you want to generate summary statistics for the numerical columns in the DataFrame using describe().
2. you have missing values in a DataFrame and want to replace them using fillna(). You might also use groupby() to group rows by a certain column and perform calculations on the resulting groups, or sort_values() to sort the rows of a DataFrame based on a particular column to better understand trends or patterns in the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A Series and a DataFrame are mutable in nature in Pandas, which means that their values can be changed after they have been created.

A Series is a one-dimensional labeled array that can hold any data type, and it can be modified using its index labels. For example, you can modify the value of a specific element in a Series using the square bracket notation like my_series['label'] = new_value.

A DataFrame is a two-dimensional tabular data structure that consists of rows and columns. You can modify the values in a DataFrame by accessing the elements using their column and row labels, and then assigning new values to them. For example, you can modify a specific element in a DataFrame using the square bracket notation like my_dataframe.loc[row_label, column_label] = new_value.

A Panel, on the other hand, is a three-dimensional data structure in Pandas that is similar to a DataFrame, but with an additional axis. It has been deprecated in recent versions of Pandas in favor of using MultiIndex DataFrame objects.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [22]:
import pandas as pd

# Create three series representing different columns of the dataframe
names = pd.Series(['Niyaj', 'Rayan', 'Ashad', 'muskan'])
ages = pd.Series([25, 5, 10, 21])
countries = pd.Series(['USA', 'Canada', 'Mexico', 'India'])

# Combine the series to create a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Country': countries})

# Print the resulting DataFrame
print(df)

     Name  Age Country
0   Niyaj   25     USA
1   Rayan    5  Canada
2   Ashad   10  Mexico
3  muskan   21   India