In [3]:
#Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [11]:
df[['course_name','duration']][1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc and iloc are two different ways of selecting data from a Pandas DataFrame based on row and column labels or indices, respectively.

The loc function is used for label-based indexing, which means that you select data based on the labels of rows and columns. The syntax for using loc is as follows:    df.loc[row_label, column_label]
Here, row_label and column_label are the labels of the row(s) and column(s) you want to select. You can use a single label or a list of labels to select multiple rows or columns.

The iloc function, on the other hand, is used for integer-based indexing, which means that you select data based on the integer positions of rows and columns. The syntax for using iloc is as follows:   df.iloc[row_index, column_index] 
Here, row_index and column_index are the integer positions of the row(s) and column(s) you want to select. You can use a single integer or a range of integers to select multiple rows or columns.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].Did you observe any difference in both the outputs? If so then explain it.

In [15]:
new_df = df.reindex([3,0,1,2])

In [19]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [18]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

yes there is difference in the output of loc and iloc

in loc data is selected ob the bases of already labled index but in iloc data is selected on the bases of default integer indexing.

In [20]:
#Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [22]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.672585  0.811469  0.678270  0.220779  0.902024  0.973975
2  0.534544  0.870855  0.923478  0.973397  0.337560  0.838236
3  0.125979  0.493616  0.158134  0.541420  0.427574  0.993395
4  0.960696  0.770443  0.708909  0.045404  0.736473  0.014383
5  0.047328  0.652773  0.982852  0.716285  0.510961  0.078467
6  0.954273  0.156089  0.790532  0.270792  0.512087  0.983627

In [28]:
df1.mean()

column_1    0.549234
column_2    0.625874
column_3    0.707029
column_4    0.461346
column_5    0.571113
column_6    0.647014
dtype: float64

In [30]:
df1['column_2'].std()

0.2661860527123433

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

In [40]:
df1['column_2'].loc[2] = 'niyaj'

In [41]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.672585  0.811469  0.678270  0.220779  0.902024  0.973975
2  0.534544     niyaj  0.923478  0.973397  0.337560  0.838236
3  0.125979  0.493616  0.158134  0.541420  0.427574  0.993395
4  0.960696  0.770443  0.708909  0.045404  0.736473  0.014383
5  0.047328  0.652773  0.982852  0.716285  0.510961  0.078467
6  0.954273  0.156089  0.790532  0.270792  0.512087  0.983627

In [42]:
df1['column_2'].mean()

# its showing errors due to mathamatical operation can't be done on the string variables.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function is used to perform calculations on a set of rows that are related to the current row. It is a way to compute metrics like moving averages or cumulative sums by sliding a window over a DataFrame.

The rolling() function is used to create a rolling window object that can be used to perform calculations on a set of rows. The rolling window object is created using a specified window size, which determines the number of rows to include in each calculation.

There are several types of window functions in Pandas:

Rolling Window Functions: These functions work on a specified window of values and use it to calculate a new value for each position.

Expanding Window Functions: These functions accumulate all the previous rows and use all the values to calculate a new value for each position.

Exponentially Weighted Moving Average (EWMA): These functions calculate the moving average with exponentially decreasing weights over time.

Window Aggregations: These functions aggregate a set of values within the specified window to a single value. For example, calculating the sum or mean of values in the window.

Overall, window functions in Pandas are a powerful tool for calculating time-series statistics and other metrics that depend on a sliding window of data.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [49]:
import datetime as dt

now = dt.datetime.now()
now.strftime("%B %Y")

'February 2023'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [53]:
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# convert the input strings to Pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# calculate the time difference between the two dates
time_diff = date2 - date1

# extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# display the result
print("The time difference between", date1.date(), "and", date2.date(), "is:")
print(days, "days,", hours, "hours, and", minutes, "minutes.")

Enter the first date (YYYY-MM-DD):  2023-02-28
Enter the second date (YYYY-MM-DD):  2023-11-29

The time difference between 2023-02-28 and 2023-11-29 is:
274 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [54]:
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
categories = input("Enter the category order (comma-separated): ").split(",")

# read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=categories, ordered=True)

# sort the DataFrame by the specified column
df = df.sort_values(by=col_name)


print(df)

Enter the file path:  services.csv
Enter the column name:  application_process
Enter the category order (comma-separated):  str

    id  location_id  program_id         accepted_payments  \
0    1            1         NaN                       NaN
1    2            2         NaN                       NaN
2    3            3         NaN                       NaN
3    4            4         NaN                       NaN
4    5            5         NaN                       NaN
5    6            6         NaN                       NaN
6    7            7         NaN                       NaN
7    8            8         NaN                       NaN
8    9            9         NaN                       NaN
9   10           10         NaN                       NaN
10  11           11         NaN                       NaN
11  12           12         NaN                       NaN
12  13           13         NaN                       NaN
13  14           14         NaN                       NaN
14  15           15         NaN                       NaN
15  16           16         NaN                       NaN
16  17           17         NaN                       NaN
17  18           18         NaN                       NaN
18  19           19         NaN                       NaN
19  20           20         NaN                       NaN
20  21           21         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
22  23           22         NaN                       NaN

           alternate_name application_process  \
0                     NaN                 NaN
1                     NaN                 NaN
2                     NaN                 NaN
3                     NaN                 NaN
4                     NaN                 NaN
5                     NaN                 NaN
6                     NaN                 NaN
7                     NaN                 NaN
8                     NaN                 NaN
9                     NaN                 NaN
10                    NaN                 NaN
11                    NaN                 NaN
12                    NaN                 NaN
13                    NaN                 NaN
14                    NaN                 NaN
15                    NaN                 NaN
16                    NaN                 NaN
17                    NaN                 NaN
18                    NaN                 NaN
19                    NaN                 NaN
20                    NaN                 NaN
21  Fotos para pasaportes                 NaN
22                    NaN                 NaN

                                             audience  \
0   Older adults age 55 or over, ethnic minorities...
1        Residents of San Mateo County age 55 or over
2   Older adults age 55 or over who can benefit fr...
3   Parents, children, families with problems of c...
4   Low-income working families with children tran...
5                                             Any age
6   Older adults who have memory or sensory loss, ...
7   Senior citizens age 60 or over, disabled indiv...
8      Ethnic minorities, especially Spanish speaking
9                                                 NaN
10                                                NaN
11  Adults, parents, children in 1st-12th grades i...
12                                                NaN
13  Individuals or families with low or no income ...
14  Adult alcoholic/drug addictive men and women w...
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description  \
0   A walk-in center for older adults that provide...
1   Provides training and job placement to eligibl...
2   Offers supportive counseling services to San M...
3   Provides supervised visitation services and a ...
4   Provides fixed 8% short term loans to eligible...
5   A multipurpose center offering a wide variety ...
6   Rosener House is a day center for older adults...
7   Delivers a hot meal to the home of persons age...
8   Provides general reading material, including b...
9   Provides general reading and media materials, ...
10  Provides general reading materials, including ...
11  Offers an intergenerational literacy program f...
12  Provides general reading materials, including ...
13  Provides food, clothing, bus tokens and shelte...
14  Provides a long-term (6-12 month) residential ...
15  Provides emergency assistance including food a...
16  Provides emergency food, clothing and furnitur...
17  By appointment only, Project Smile provides a ...
18  Provides free medical and dental care to those...
19              no unrequired fields for this service
20                                just a test service
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                          eligibility                  email  \
0   Age 55 or over for most programs, age 60 or ov...                    NaN
1   Age 55 or over, county resident and willing an...                    NaN
2         Resident of San Mateo County age 55 or over                    NaN
3                                                None                    NaN
4   Eligibility: Low-income family with legal cust...                    NaN
5                                                None                    NaN
6                                      Age 18 or over                    NaN
7             Homebound person unable to cook or shop                    NaN
8     Resident of California to obtain a library card                    NaN
9             Resident of California to obtain a card                    NaN
10  Resident of California to obtain a library car...                    NaN
11  English-speaking adult reading at or below 7th...                    NaN
12    Resident of California to obtain a library card                    NaN
13  None for most services. For emergency assistan...                    NaN
14  Age 21-60, detoxed, physically able and willin...                    NaN
15                      None for emergency assistance                    NaN
16                                Low-income families                    NaN
17    Low-income person without access to health care                    NaN
18    Low-income person without access to health care                    NaN
19                                                NaN                    NaN
20                                                NaN                    NaN
21                                               None  passports@example.org
22                                               None                    NaN

    ...                            interpretation_services  \
0   ...                                                NaN
1   ...                                                NaN
2   ...                                                NaN
3   ...                                                NaN
4   ...                                                NaN
5   ...                                                NaN
6   ...                                                NaN
7   ...                                                NaN
8   ...                                                NaN
9   ...                                                NaN
10  ...                                                NaN
11  ...                                                NaN
12  ...                                                NaN
13  ...                                                NaN
14  ...                                                NaN
15  ...                                                NaN
16  ...                                                NaN
17  ...                                                NaN
18  ...                                                NaN
19  ...                                                NaN
20  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
22  ...                                                NaN

                                             keywords languages  \
0   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
1   EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN
2   Geriatric Counseling, Older Adults, Gay, Lesbi...       NaN
3   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...       NaN
4      COMMUNITY SERVICES, Speakers, Automobile Loans       NaN
5   ADULT PROTECTION AND CARE SERVICES, In-Home Su...       NaN
6   ADULT PROTECTION AND CARE SERVICES, Adult Day ...       NaN
7   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
8   EDUCATION SERVICES, Library, Libraries, Public...       NaN
9   EDUCATION SERVICES, Library, Libraries, Public...       NaN
10  EDUCATION SERVICES, Library, Libraries, Public...       NaN
11  EDUCATION SERVICES, Adult, Alternative, Litera...       NaN
12  EDUCATION SERVICES, Library, Libraries, Public...       NaN
13  COMMUNITY SERVICES, Interpretation/Translation...       NaN
14  ALCOHOLISM SERVICES, Residential Care, DRUG AB...       NaN
15  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
16  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
17  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
19                                                NaN       NaN
20                                                NaN       NaN
21                                    Salud, Medicina   Spanish
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN

                                    name  \
0        Fair Oaks Adult Activity Center
1       Second Career Employment Program
2                 Senior Peer Counseling
3               Family Visitation Center
4      Economic Self-Sufficiency Program
5   Little House Recreational Activities
6       Rosener House Adult Day Services
7         Meals on Wheels - South County
8                       Fair Oaks Branch
9                           Main Library
10                       Schaberg Branch
11                          Project Read
12                 Redwood Shores Branch
13                    Redwood City Corps
14           Adult Rehabilitation Center
15                       Sunnyvale Corps
16     South San Francisco Citadel Corps
17                         Project Smile
18         San Mateo Free Medical Clinic
19             Service with blank fields
20       Service for Admin Test Location
21                       Passport Photos
22                  Example Service Name

                          required_documents  \
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21  Government-issued picture identification
22                                       NaN

                            service_areas    status  \
0                                   Colma    active
1                        San Mateo County    active
2                        San Mateo County    active
3                        San Mateo County    active
4                        San Mateo County    active
5                        San Mateo County    active
6     Belmont, Burlingame, East Palo Alto    active
7                 Belmont, East Palo Alto    active
8                        San Mateo County    active
9                        San Mateo County    active
10                       San Mateo County    active
11                              Daly City    active
12                       San Mateo County    active
13    Belmont, Burlingame, East Palo Alto    active
14       Alameda County, San Mateo County    active
15                                    NaN    active
16  Colma, Daly City, South San Francisco    active
17                         East Palo Alto    active
18                    Belmont, Burlingame    active
19                                    NaN   defunct
20                       San Mateo County  inactive
21       Alameda County, San Mateo County    active
22       San Mateo County, Alameda County    active

                                            wait_time                 website  \
0                                            No wait.                     NaN
1                                             Varies.                     NaN
2                                             Varies.                     NaN
3                                            No wait.                     NaN
4                                                 NaN                     NaN
5                                            No wait.                     NaN
6                                            No wait.                     NaN
7                                            No wait.                     NaN
8                                            No wait.                     NaN
9                                            No wait.                     NaN
10                                           No wait.                     NaN
11  Depends on availability of tutors for small gr...                     NaN
12                                           No wait.                     NaN
13                                  Up to 20 minutes.                     NaN
14  Varies according to available beds for men and...                     NaN
15                                           No wait.                     NaN
16                                                NaN                     NaN
17                                            Varies.                     NaN
18                                            Varies.                     NaN
19                                                NaN                     NaN
20                                                NaN                     NaN
21                                No wait to 2 weeks.  http://www.example.com
22                                 No wait to 2 weeks  http://www.example.com

                                taxonomy_ids
0                                        NaN
1                                        NaN
2                                        NaN
3                                        NaN
4                                        NaN
5                                        NaN
6                                        NaN
7                                        NaN
8                                        NaN
9                                        NaN
10                                       NaN
11                                       NaN
12                                       NaN
13                                       NaN
14                                       NaN
15                                       NaN
16                                       NaN
17                                       NaN
18                                       NaN
19                                       NaN
20                                       NaN
21  105, 108, 108-05, 108-05-01, 111, 111-05
22                                       NaN

[23 rows x 22 columns]

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [59]:
import csv

students = [
    {"Student ID": 1, "Test Score": 85},
    {"Student ID": 2, "Test Score": 90},
    {"Student ID": 3, "Test Score": 80},
    {"Student ID": 4, "Test Score": 75},
    {"Student ID": 5, "Test Score": 85},
    {"Student ID": 6, "Test Score": 82},
    {"Student ID": 7, "Test Score": 78},
    {"Student ID": 8, "Test Score": 85},
    {"Student ID": 9, "Test Score": 90},
    {"Student ID": 10, "Test Score": 85},
]

# write the student data to a CSV file
with open("student_data.csv", mode="w", newline="") as csv_file:
    fieldnames = ["Student ID", "Test Score"]
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)

    writer.writeheader()
    for student in students:
        writer.writerow(student)
        
        
df = pd.read_csv('student_data.csv')

# calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# display the results in a table
print("+-----------+--------+")
print("| Statistic | Value |")
print("+-----------+--------+")
print("| Mean      | {:.1f}  |".format(mean))
print("| Median    | {}     |".format(median))
print("| Mode      | ", end="")
for i in range(len(mode)):
    if i == len(mode) - 1:
        print(mode[i], end=" ")
    else:
        print("{}, ".format(mode[i]), end="")
print(" " * (7 - len(str(mode))) + "|")
print("+-----------+--------+")

+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean      | 83.5  |
| Median    | 85.0     |
| Mode      | 85    |
+-----------+--------+